# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
tmp/
# filesystem
**/.vscode
.idea
.DS_Store
.apex
data/
# due to using tox and pytest
.tox
.cache

*.lock
*.tar.gz